<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log-in/Sign-up</title>
</head>
<body>
    <h2>{{message}}</h2>
    <section>
        <div>
            <h4>Sign-Up</h4>
            <form
                id="signUp" method="POST" action="/users/signup">
                <input 
                    type="text" name="first_name"
                    placeholder="Enter First Name"/>
                <input 
                type="text" name="last_name"
                placeholder="Enter Last Name"/>
                <input 
                    type="text" name="email"
                    placeholder="Enter Email"/>
                <input 
                    type="text" name="username"
                    placeholder="Enter Username"/>
                <input
                    type="password" name="password"
                    placeholder="Enter Password"/>
                <button>signup</button>
            </form>
        </div>
    </section>
</body>
</html>