<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog App</title>
</head>
<body>
    <h1>update post!</h1>
    {{#post}}
    <div>
    {{title}} - {{body}}
    <div>
    <form method="POST" action="/update-post">
    <input 
        type="text"
        value="title"
        name="title"
        placeholder={{title}}
    />
    <input 
        type="text"
        value="body"
        name="body"
        placeholder={{body}}
    />
    <input 
        type="hidden"
        value={{post_id}}
        name="post_id"
    />
    <button>Update</button>
    {{/post}}
</body>
</html>